apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{policy_name}}
  labels:
    app: {{policy_name}}
    pool: {{pool_name}}
spec:
  egress:
  {{#each ports}}
  - ports:
    - port: {{this}}
      protocol: TCP
    - port: {{this}}
      protocol: UDP
  {{/each}}
    to:
    {{#each targets}}  
    - ipBlock:
        cidr: {{this}}
    {{/each}}
  podSelector:
    matchLabels:
      app: {{policy_name}}
      pool: {{pool_name}}
  policyTypes:
  - Ingress
  - Egress